<h3>Edit this item:</h3>

<%= form_for @item do |f| %>
  <div class="col-md-4">
    <%= f.label :name, "Item Name" %>
    <%= f.text_field :name %>
    <br />
    <%= f.label :description, "Item Description" %>
    <%= f.text_area :description %>
    <br />
    <%= f.label :type, "Type of Item" %>
    <%= f.select :item_type, ['weapon', 'armor', 'consumable'] %>
    <br />
    <%= f.label :owner, "Item Owner" %>
    <%= f.select :owner, ['Ecthelion', 'Eos', 'Griswold', 'Jaffrin', 'Thanean', 'Party'] %>
    <br />
  </div>
  <div class="col-md-4">
    <%= f.label "Stat Bonus 1" %>
    <%= f.select :stat1, ['Charisma', 'Constitution', 'Dexterity', 'Intelligence', 'Strength', 'Wisdom'] %>
    <br />
    <%= f.label "Stat Bonus 2" %>
    <%= f.select :stat2, ['Charisma', 'Constitution', 'Dexterity', 'Intelligence', 'Strength', 'Wisdom'] %>
    <br />
    <%= f.label "Stat Bonus 3" %>
    <%= f.select :stat3, ['Charisma', 'Constitution', 'Dexterity', 'Intelligence', 'Strength', 'Wisdom'] %>
    <br />
    <br />
    <%= f.label "Skill Bonus" %>
    <%= f.text_field :skill1, placeholder: "enter skill name" %>
    <br />
    <%= f.label "Skill Bonus" %>
    <%= f.text_field :skill1, placeholder: "enter skill name" %>
    <br />
    <%= f.label "Skill Bonus" %>
    <%= f.text_field :skill1, placeholder: "enter skill name" %>
    <br />
    <br />
    <%= f.submit %>
  </div>
  <div class="col-md-4">
    <% if @item.item_type === nil %>
     <%= f.label :damage %>
     <%= f.text_field :damage %>
    <% end %>
    <br />

  </div>
</div>
<% end %>
