<div class="container item_header">
  <div class="col-md-10">
    <h2><%= @item.name %></h2>
    <% if @item.description === nil %>
    <p>Description: <i><%= @item.description %></i></p>
    <% else %>
    <p><i>No description has been set for this item</i></p>
    <% end %>
  </div>
  <div class="col-md-2 item_icon">
    <%= image_tag "icons/icon_" + @item.item_type + ".png", size: "60x60" %>
  </div>
</div>

<div class="container">
  <div class="col-md-4 item_details stats_detail">
    <h4>Attribute Bonuses</h4>
    <% if @item.stat1 === nil && @item.stat2 === nil && @item.stat3 === nil %>
      <p>This item has no attribute modifiers.</p>
    <% else %>
      <% if @item.stat1 ===! nil %>
      <p>Stat Bonus: <%= @item %></p>
      <% end %>
      <% if @item.stat2 ===! nil %>
      <p>Stat Bonus: <%= @item %></p>
      <% end %>
      <% if @item.stat3 ===! nil %>
      <p>Stat Bonus: <%= @item %></p>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4 item_details skills_detail">
    <h4>Skill Bonuses</h4>
    <% if @item.skill1 === nil && @item.skill2 === nil && @item.skill3 === nil %>
      <p>This item has no skill modifiers.</p>
    <% else %>
      <% if @item.skill1 ===! nil %>
      <p>Stat Bonus: <%= @item %></p>
      <% end %>
      <% if @item.skill2 ===! nil %>
      <p>Stat Bonus: <%= @item %></p>
      <% end %>
      <% if @item.skill3 ===! nil %>
      <p>Stat Bonus: <%= @item %></p>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4 item_details owner_detail">
    <h4>Owner Information</h4>
    <p>Currently owned by: <%= @item.owner %></p>
    <% if @item.equipped? === true %>
      <p>Item is currently equipped.</p>
    <% else %>
      <p>Item is currently not equipped.</p>
    <% end %>
  </div>
</div>

<div class="container item_detail_dropdowns">
  <div class="col-md-10 edit_description">
    <p>Edit Description/Lore</p>
  </div>
  <div class="col-md-2 description_expand">
    <p>+</p>
  </div>
</div>

<div class="container item_detail_dropdowns">
  <div class="col-md-10 edit_stats">
    <p>Edit Stats/Owner</p>
  </div>
  <div class="col-md-2 stats_expand">
    <p>+</p>
  </div>
</div>

<div class="container item_detail_dropdowns">
  <div class="col-md-10 sell_item">
    <p>Sell Item/Delete</p>
  </div>
  <div class="col-md-2 sell_expand">
    <p>+</p>
  </div>

</div>
